<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/public/vendor/bootstrap/css/bootstrap.css.map" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <link href="/public/vendor/bootstrap/css/custom.css" rel="stylesheet" id="bootstrap-css">
 
  <!-- Custom styles for this template -->

</head>



<body>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div id="flipkart-navbar">
      <div class="container">
       
        <div class="row row2">
          <div class="col-sm-2">
            <h2 style="margin:0px;">
              <span class="smallnav menu" onclick="openNav()">☰ gesTool</span>
            </h2>
            <h1 style="margin:0px;">
              <span class="largenav">gesTool</span>
            </h1>
            
          </div>
       
              <ul class="largenav pull-right">
                  <li class="upper-links"><a class="links" href="/">Overview</a></li>
                  <li class="upper-links"><a class="links" href="/activities">Actividades</a></li>
              
              </ul>
        
        </div>
        
      </div>
    </div>
    <div id="mySidenav" class="sidenav">
      <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
    
      <a href="http://clashhacks.in/">Overview</a>
      <a href="http://clashhacks.in/">Actividades</a>
    </div>
  