<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" align="center">




            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">


                <!-- Begin | Register Form -->
                <form id="register-vol">

                    <div class="modal-body">

                        <div id="div-voluntario-msg">
                            <center>
                                <span id="text-voluntario-msg">Nova Atividade</span>
                            </center>
                        </div>

                        <div class="form-group">
                            <select class="selectpicker">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Registar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>



</div>
<!-- End # DIV Form                         start of alter table-->