<% include partials/header %>
  <% include partials/new_act.ejs %>



    <div id="floating-button" data-toggle="modal" data-target="#login-modal" data-original-title="Create">
      <p class="plus">+</p>
      <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
    <!-- Page Content -->
    <div class="content-card">
      <div class="cards">
        


      </div>
    </div>

    <% include partials/footer.ejs %>