<% include partials/header %>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <div id="flipkart-navbar">
    <div class="container">
     
      <div class="row row2">
        <div class="col-sm-2">
          <h2 style="margin:0px;">
            <span class="smallnav menu" onclick="openNav()">☰ gesTool</span>
          </h2>
          <h1 style="margin:0px;">
            <span class="largenav">gesTool</span>
          </h1>
          
        </div>
     
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">Link 1</a></li>
                <li class="upper-links"><a class="links" href="https://campusbox.org/">Link 2</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">Link 3</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">Link 4</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">Link 5</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">Link 6</a></li>
            </ul>
      
      </div>
      
    </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
      <span class="sidenav-heading">Home</span>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
  
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
  </div>


  <div id="floating-button" data-toggle="modal" data-target="#login-modal" data-original-title="Create">
      <p class="plus">+</p>
      <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
    <!-- Page Content -->
    <div class="content-card">
      <div class="cards" >
        <div class="col-md-6">


          <!-- DONUT CHART -->
          <div class="box box-danger" style="height: 350px ; overflow:hidden">
            <div class="box-header">
              <h3 class="box-title">Lucro do Workshop</h3>

              <div class="box-tools pull-right">

              </div>
            </div>

            <canvas id="donut-lucro"></canvas>
          </div>
          <!-- /.box-body -->
        </div>

        <div class="col-md-6">


          <!-- DONUT CHART -->
          <div class="box box-danger" style="height: 350px ; overflow:hidden">
            <div class="box-header">
              <h3 class="box-title">Lucro do Workshop</h3>

              <div class="box-tools pull-right">

              </div>
            </div>

            <canvas id="donut-lucro"></canvas>
          </div>
          <!-- /.box-body -->
        </div>
        <div class="col-md-6">


          <!-- DONUT CHART -->
          <div class="box box-danger" style="height: 350px ; overflow:hidden">
            <div class="box-header">
              <h3 class="box-title">Lucro do Workshop</h3>

              <div class="box-tools pull-right">

              </div>
            </div>

            <canvas id="donut-lucro"></canvas>
          </div>
          <!-- /.box-body -->
        </div>

        <div class="col-md-6">


          <!-- DONUT CHART -->
          <div class="box box-danger" style="height: 350px ; overflow:hidden">
            <div class="box-header">
              <h3 class="box-title">Lucro do Workshop</h3>

              <div class="box-tools pull-right">

              </div>
            </div>

            <canvas id="donut-lucro"></canvas>
          </div>
          <!-- /.box-body -->
        </div>


      </div>
    </div>
  <% include partials/footer.ejs %>